
{{#each reviews as |review|}}
   <ul id='revAllHandle' data-id="{{review.id}}">
     <p> Date: {{review.review_date}}</p>
     <p> Review: {{review.review_text}}</p>
     <img src="https://media.giphy.com/media/3oriO7RNRqh47AempG/giphy.gif" alt="Angry Reaction" id='hillary' style="width:300px;height:200px;">
   </ul>
{{/each}}
