{{#each reviews as |review|}}
   <ul data-id="{{review.id}}">
     <li> Date: {{review.review_date}}</li>
     <li> Review: {{review.review_text}}</li>
     <img src="https://media.giphy.com/media/3oriO7RNRqh47AempG/giphy.gif" alt="Angry Reaction" id='hillary' style="width:300px;height:200px;">
   </ul>
{{/each}}
