$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.container-fluid{
  background-color: #DCDCDC;
}

#line{
  border-color: #000000;
  margin-top: 100px;
}

#show-my-reviews{
  float:right;
  display:block;
  margin-right:30px;
  margin-top: 20px;
  clear: left;
}

#show-all-reviews{
  float:right;
  display:block;
  margin-right:30px;
  margin-top: 20px;
  clear: left;
}

#logout{
  float:left;
  display:block;
  margin-right:300px;
  margin-top: 20px;
  // clear:left;
}

#up-profile{
  float:right;
  display:block;
  margin-right:20px;
  margin-top: 20px;
  // clear:left;
}

#ch-password{
  float:right;
  display:block;
  // margin-left:300px;
  margin-top: 20px;
  // clear:left;
  margin-right:20px;
}

#cr-profile{
  float:right;
  display:block;
  margin-right:20px;
  margin-top: 20px;
  // clear:left;
}

#get-started{
  float:right;
  display:block;
  margin-right:600px;
  margin-top: 20px;
  clear:left;
}

#legal-statement{
  float:right;
  display:block;
  margin-right:30px;
  margin-top: 20px;
  clear:left;
}

#initiate-login{
  float:right;
  display:block;
  margin-right:30px;
  margin-top: 20px;
  clear:left;
}

#food-image{
  margin-left: 210px;
}

#description{
  margin-left: 620px;
  font-family: arial;
  font-size: 22px;
  color: #E84F4F;
}

#describe{
  margin-left: 665px;
  font-family: arial;
  font-size: 18px;
  color: #E84F4F;
  margin-top: 100px;
}

#retail-image{
  margin-left: 630px;
}

#banner{
  color: #E84F4F;
  font-family: arial;
  font-size: 50px;
  margin-left: 630px;
  margin-top:50px;
}

.create-review{
  border-style: solid;
  border-radius: 25px;
  border-color: #E84F4F;
  width: 500px;
  height: 300px;
  padding: 50px;
  display: block;
  text-align: center;
  margin-left: 600px;
}

#form-line{
  border-color: #000000;
}

#txtDate{
  width: 150px;
  height: 43px;
}

#pub-rev{
  margin-top: 5px;
}

#text-box{
  float: right;
}

#swanson{
  margin-left: 600px;

}
